<br>
<br>
<div class=" d-flex flex-column justify-content-center align-items-center invalid-credentials">
    <img width="500" src="https://images.blush.design/rPznz9Dn7OnV3s0Q1YCa?w=920&auto=compress&cs=srgb" alt="">
    <h4>{{msg}}</h4>
    <p>documentos cargados: {{ userDocumentCount }}</p>
    <a href="/auth/perfil">Volver al perfil</a>
</div>