<div class="fail-register">
    <img width="500" src="https://i.imgur.com/iLgMOiM.png" alt="">
    <h4>Por Algún Motivo no Hemos Podido Registrarte</h4>
    <a href="/auth/register">Intenta nuevamente</a>
</div>