<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <img src="https://i.imgur.com/8CEDjiz.jpg" alt="Imagen de Error" class="img-fluid">
            <h4 class="mt-3">El usuario no se encuentra registrado</h4>
            <a href="/auth/register" class="btn btn-primary mt-3">Registrar</a>
        </div>
    </div>
</div>
