<h1>LOGIN</h1>
<form action='/auth/login' method='POST'>
  <input type='text' name='email' placeholder='email' />
  <input type='text' name='password' placeholder='password' />
  <input type='submit' value='login!' />
</form>
<a href='/api/sessions/github'>Login con GitHub</a>
<a href='/auth/register'>aun no tengo cuenta...</a>
<a href='/auth/recovery'>recuperar mi contraseña</a>
