<div class="password-reset-success">
  <img width="400" src="https://i.imgur.com/0yEAaMa.jpg" alt="imagen de restablecimiento de contraseña">
  <h1>¡Contraseña Restablecida!</h1>
  <p>Tu contraseña ha sido restablecida con éxito!.</p>
  <a href="/auth/login">Iniciar sesión</a>
</div>
