<h1>Perfil de usuario</h1>
<h2>Bienvenido!</h2>
user:
{{firstName}}
<br>
email:
{{email}}
<br />
isAdmin:
{{isAdmin}}
<h4>Esta es la página de Login del ecommers de Coder House</h4>
<br />
<a href='/auth/administracion'>Ver datos super secretos<a>

<br />
<a href='/auth/logout'>Salir!</a>