<h1>Perfil de usuario</h1>

user:
{{firstName}}
<br>
email:
{{email}}
<br />
isAdmin:
{{isAdmin}}
<br />
<a href='/auth/administracion'>Ver datos super secretos<a>

<br />
<a href='/auth/logout'>Salir!</a>