<h1>RECUPERAR CONTRASEÑA</h1>
<form action='/auth/recovery' method='POST'>
  <input type='text' name='email' placeholder='email' />
  <input type='submit' value='recuperar!' />
</form>
<a href='/auth/login'>Volver al login!</a>