
  <div class="div-reset-password">
    <div>
      <h1>Restablecer Contraseña</h1>
    </div>
  </div>

  {{#if error}}
    <p class="error-message">{{error}}</p>
  {{else}}
    <form action="/auth/reset-password/" method="POST">
      <input type="hidden" name="token" value="{{token}}">
      <label for="password">Nueva Contraseña:</label>
      <input type="password" name="newPassword" required>
      <button type="submit">Cambiar Contraseña</button>
    </form>
  {{/if}}