  <div class="div-reset-password">
    <div>
      <h1>Restablecer Contraseña</h1>
    </div>
  </div>
    <form action="/auth/recovery" method="POST">
      <input type='text' name='email' placeholder='email' />
      <button type="submit">enviar correo de recuperación</button>
    </form>

