<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Restablecer Contraseña</title>
  <style>
    .div-reset-password {
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 20px;
      margin: 20px;
    }
  </style>
</head>
<body>
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="div-reset-password text-center">
      <h1>Restablecer Contraseña!</h1>
      {{#if error}}
        <p class="error-message">{{error}}</p>
      {{else}}
        <form action="/auth/reset-password/" method="POST">
          <input type="hidden" name="token" value="{{token}}">
          <div class="form-group">
            <label for="password">Nueva Contraseña:</label>
            <input type="password" name="newPassword" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="password">Repetir Contraseña:</label>
            <input type="password" name="newPassword2" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
        </form>
      {{/if}}
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
