  <div class="div-reset-password">
    <div>
      <h1>Restablecer Contrase単a!</h1>
    </div>
  </div>

  {{#if error}}
    <p class="error-message">{{error}}</p>
  {{else}}
    <form action="/auth/reset-password/" method="POST">
      <input type="hidden" name="token" value="{{token}}">
      <label for="password">Nueva Contrase単a:</label>
      <input type="password" name="newPassword" required>
      <label for="password">Repetir Contrase単a:</label>
      <input type="password" name="newPassword2" required>
      <button type="submit">Cambiar Contrase単a</button>
    </form>
  {{/if}}