<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <img src="https://media.tycsports.com/files/2022/12/09/514260/river-boca-libertadores-2018_862x485.webp?v=1" alt="Imagen del mejor equipo del mundo" class="img-fluid">
            <h4 class="mt-3">River campeón de copa libertadores 2018 (si me bajas puntos es porque todavia estás dolido y no lo supersate)</h4>
            <a href="/auth/perfil" class="btn btn-primary mt-3">Ir al perfil</a>
        </div>
    </div>
</div>
