<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Recuperar Contraseña</title>
  <style>
    .send-message {
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 20px;
      margin: 20px;
    }
  </style>
</head>
<body>
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="send-message text-center">
      <img width="500" src="https://i.imgur.com/IDysX85.png" alt="">
      <h4>Chequea Tu Casilla De Correo</h4>
      <a href="/auth/login" class="btn btn-primary mt-3">Volver al Login</a>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
