<div class="container mt-5">
        <h2>Documento Cargado con Éxito</h2>
        <p>Tu documento se ha cargado correctamente.</p>
        <a href="/auth/perfil" class="btn btn-primary">Volver al Perfil</a>
    </div>