*{
    margin: 0;
    padding: 0;
}

.div-card{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;
    justify-content: center; */
}

.form-container {
    max-width: 500px;
}

.div-msg {
    margin: 20px;
    border: 1px solid black;
}


/* Styles products.handlebars */

.div-products-handle{
    background-color:dodgerblue;
    /* margin: 40px;     */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.a-products-handle{
    color: white;
}

.img-products-handle{
    width: 60px;
}

.gitHub-img {
    width: 40px;
}