*{
    margin: 0;
    padding: 0;
}

.div-card{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;
    justify-content: center; */
}

.form-container {
    max-width: 500px;
}

.div-msg {
    margin: 20px;
    border: 1px solid black;
}
