PORT=8080
DIR= localhost:8080
DB_NAME=PROY BKND
MONGO_STRING=
MONGO_USER=
MONGO_PASS=
NODE_ENV= production
GITHUB_CLIENT_ID= 
GITHUB_CLIENT_SECRET= 
GITHUB_CALLBACK_URL= 

EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_SERVICE=

JWT_SECRET=